@import '../global.scss';
.contact{
    background: rgb(37, 197, 37);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 100px;
    @include mobile{
        flex-direction: column;
       padding: 20px 10px;
       gap: 25px;
    }
    input{
        padding: 10px;
        border: none;
        border-radius: 5px 0 0 5px;
        outline: none;
        @include mobile{
            width: 70%;
        }
    }
    button{
        padding: 10px;
        border: none;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
    }
    .right{
        display: flex;
        gap: 5px;
        @include mobile{
            gap: 20px;
        }
    }
}