@import '../global.scss';
.category{
   height: 80vh;
   margin: 100px;
   display: flex;
   gap: 10px;
   @include mobile{
    margin: 70px 0;
     
   }
   
   .col{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    @include mobile{
        &.third{
            display: none;
        }
    }
   }
   .col-l{
    flex: 2;
   }
   .row{
    flex: 1;
    display: flex;
    gap: 10px;
    position: relative;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    button{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
     min-width: 100px;
     width: fit-content;
     border: none;
     text-transform: uppercase;
     height: 40px;
     padding: 10px;
     cursor: pointer;
     @include mobile{
       display: none;
     }
    }
   }
}